language: go

os:
  - linux
  - osx

go:
  - tip
  - 1.11

script:
  - GO111MODULE=on go test -v -coverprofile=coverage.txt -covermode=atomic ./...

after_success: bash <(curl -s https://codecov.io/bash)
